button {
  border: none;
  color: "#5656fc";
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: "#5656fc";
}
img {
  border-radius: 20px;
}
